#header, .module h2, .module caption, .inline-group h2, #content-related .module h2 {
    background: #607d8b;
    color: #fefefe;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: floralwhite;
}

div.breadcrumbs{
    background: #263238;
}
