body{
    background-color: #fefefe;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: red;
    display: block;
    font-size: 15px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
