{% extends 'base.html' %}

{% block title %}
    {{ category.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for item_news in news %}
        <div class="card mb-3">
            <div class="card-header">
                Категория: {{ item_news.category }}
            </div>
            <div class="card-body ">
                <div class="media row">
                    <div class="row">
                        <div class="col-md-6">
                            {% if item_news.photo %}
                                <img src="{{ item_news.photo.url }}" alt="" width="350" height="200"
                                     class="mr-3 img-fluid">
                            {% else %}
                                <img src="https://picsum.photos/id/1060/350/200/?blur=2" alt="" class="mr-3 img-fluid">
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            <h5 class="card-title">{{ item_news.title }}</h5>
                            <p class="card-text">{{ item_news.content|linebreaks|truncatewords:50 }}</p>
                            <a href="{{ item_news.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ item_news.created_at|date:"d-m-Y H:i:s" }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
